extends ../layout/layout

block variables
  - var active = 'Правила сайта'
  - var title = 'Мир фолка'

block header
  include ../components/header/header

block content
  .page
    .container
      .page__breadcrumbs
        ol.breadcrumbs(itemscope="" itemtype="https://schema.org/BreadcrumbList")
          li.breadcrumbs__item(itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
            a.breadcrumbs__link(itemprop="item" href="index.html" title="Главная")
              span(itemprop="name") Главная
              meta(itemprop="position" content="0")
          li.breadcrumbs__item
            span Правила сайта
      .page__title
        h1.reset Правила сайта
      .page__content
        .row.row--jc-center
          .col-xs-12.col-md-10.col-lg-9.content
            p
              span.small Приветствуем Вас на сайте ООО «Мир Фолка» (далее — Компания).
            p
              span.small Данные Правила пользования сайтом (далее — Правила и Сайт) заключаются между посетителем сайта (далее — Пользователь) и Компанией и регулируют способы использования Сайта Компании, всей информации, которая доступна на Сайте, всех продуктов и услуг, которые Компания предоставляет с помощью Сайта (далее — Услуги).
            br
            p.text-center
              span.big
                b 1. Общие положения
            br
            p Используя Сайт или какую-либо его часть, Пользователь автоматически дает полное и безоговорочное согласие со всеми условиями Правил Компании и берет на себя обязательства в соответствии с настоящими Правилами.
            p Если Пользователь не согласен с условиями Правил (полностью или частично), ему следует немедленно покинуть Сайт. Пользование Сайтом, любой информацией на Сайте и пользование Услугами Сайта в таком случае запрещаются.
            p Если закон страны проживания или пребывания по каким-либо причинам запрещает или ограничивает пользование Сайта, Пользователю следует воздержаться от его посещения. Любое использование Сайта в такой ситуации лежит на ответственности Пользователя, при этом настоящие Правила сохраняют свою силу.
            p Информация, которая опубликована на Сайте в виде новостей, статей, описания продуктов и услуг и прочих информационных материалов Компании, актуальна на дату их составления. По прошествии времени или в связи с последующими событиями какая-то часть этой информации может оказаться не полной или не актуальной. После опубликования на Сайте Компания не гарантирует оперативных корректировок такой информации.
            p Мнение авторов статей, новостей, комментариев и отзывов, которые размещены на Сайте, может не совпадать с мнением и позицией Компании.
            p Обращения, предложения и претензии физических и юридических лиц к Компании в связи с Правилами, всеми вопросами по функционированию Сайта, связанными с правами и интересами третьих лиц при его использовании могут быть направлены на электронный адрес
            p Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Компании может быть предоставлено исключительно по письменному соглашению с Компанией.
            p Настоящие Правила могут быть изменены и/или дополнены Компанией в одностороннем порядке без какого-либо специального уведомления.
            p Компания рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
            br
            p.text-center
              span.big
                b 2. Права, обязанности и ответственность Сторон
            br
            p Используя Сайт или какую-либо его часть, Пользователь автоматически дает полное и безоговорочное согласие со всеми условиями Правил Компании и берет на себя обязательства в соответствии с настоящими Правилами.
            p Если Пользователь не согласен с условиями Правил (полностью или частично), ему следует немедленно покинуть Сайт. Пользование Сайтом, любой информацией на Сайте и пользование Услугами Сайта в таком случае запрещаются.
            p Если закон страны проживания или пребывания по каким-либо причинам запрещает или ограничивает пользование Сайта, Пользователю следует воздержаться от его посещения. Любое использование Сайта в такой ситуации лежит на ответственности Пользователя, при этом настоящие Правила сохраняют свою силу.
            p Информация, которая опубликована на Сайте в виде новостей, статей, описания продуктов и услуг и прочих информационных материалов Компании, актуальна на дату их составления. По прошествии времени или в связи с последующими событиями какая-то часть этой информации может оказаться не полной или не актуальной. После опубликования на Сайте Компания не гарантирует оперативных корректировок такой информации.
            p Мнение авторов статей, новостей, комментариев и отзывов, которые размещены на Сайте, может не совпадать с мнением и позицией Компании.

block footer
  include ../components/footer/footer