.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 14px;
  list-style: none;
  color: $light-grey;

  &__item {
    margin: 0;
    display: none;

    &:nth-last-child(-n + 2) { display: block; }

    &:last-child { display: none; }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $yellow-green;
    text-decoration: none;
    transition: all $transition-time;

    &:hover {
      color: $dark-green;
    }

    &:before {
      content: '';
      width: 0.6em;
      height: 0.6em;
      margin: 0 0.1em 0 2px;
      border-left: 1px solid $yellow-green;
      border-bottom: 1px solid $yellow-green;
      transform: rotate(45deg);
    }
  }
}

@media all and (min-width: $screen-sm) {
  .breadcrumbs {
    overflow: hidden;

    &__item {
      display: inline-flex;
      align-items: center;
      overflow: hidden;
      flex: 0 0 auto;

      &:before {
        content: '';
        flex: 0 0 auto;
        width: 0.5em;
        height: 0.5em;
        margin: 0.1em 0.6em 0 0.4em;
        border-top: 1px solid $light-grey;
        border-right: 1px solid $light-grey;
        transform: rotate(45deg);
      }

      &:first-child:before { display: none; }

      &:last-child,
      &:nth-child(2) { display: inline-flex; }

      &:last-child { flex: 1 1 auto; }

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &__link {
      display: inline;

      &:before {
        display: none;
      }
    }
  }
}

@media all and (min-width: $screen-lg) {
  .breadcrumbs {
    font-size: 15px;
  }
}